@import 'src/styles/colors.css';
@import 'src/styles/sizes.css';

.title {
  font-size: var(--font-size-large);
  color: var(--white-color);
  font-weight: var(--font-weight);
  text-transform: uppercase;
}