@import '../../styles/sizes.css';

.counter {
  margin: var(--indentation-size);
  padding: var(--indentation-size);
  color: var(--white-color);
  border: var(--border-size) solid black;
  width: fit-content;
}

.counter__buttons {
  display: flex;
  gap: var(--gap-size);
}