:root {
  /* 14px */
  --font-size-small: 0.875rem;
  /* 20px */
  --font-size-medium: 1.25rem;
  /* 40px */
  --font-size-large: 2.5rem;

  --border-size: 0.0625rem;
  --border-radius: 0.25rem;
  --border-radius-meduim: 50%;
  --border-radius-large: 100%;

  /* 4px */
  --indentation-size-small: 0.25rem;
  /* 12px */
  --indentation-size-medium: 0.75rem;
  /* 24px*/
  --indentation-size-large: 1.5rem;

  /* 4px */
  --gap-size-small: 0.25rem;
  /* 12px */
  --gap-size-medium: 0.75rem;
  /* 36px */
  --gap-size-large: 2.25rem;

  --width: 18.75rem;
  --font-weight: 400;
}