.movie-list-page__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--indentation-size-large) 0;
  padding: 0 var(--indentation-size-large);
  flex-wrap: wrap;
  gap: var(--gap-size-medium);
}

.movie-list-page__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 var(--indentation-size-large);
  gap: var(--gap-size-large);
}