@import '../../styles/sizes.css';
@import '../../styles/colors.css';

.search-form {
  width: 100%;
  font-size: var(--font-size);
  display: flex;
  justify-content: center;
  gap: var(--gap-size);
  height: 3.125rem;
}

.search-form__input {
  width: 60%;
  font-size: var(--font-size);
  background-color: var(--dark-background-color);
  padding-left: var(--indentation-size);
  border-radius: var(--border-radius);
  color: var(--white-color);
}