.header {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  font-size: var(--font-size-medium);
  padding: var(--indentation-size-large);
}

.header__img {
  cursor: pointer;
}

.header__button {
  color: var(--primary-color);
  padding: var(--indentation-size-medium);
  border-radius: var(--border-radius);
  background-color: var(--body-background-color);
  opacity: 0.8;
}