@import 'src/styles/colors.css';
@import 'src/styles/sizes.css';

.input {
  background-color: var(--dark-background-color);
  border-radius: var(--border-radius);
  color: var(--white-color);
  font-size: 1rem;
  width: 100%;
  padding: var(--indentation-size-medium) var(--indentation-size-medium);
}